/* Css do layout principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-wrapper {
    display: flex;
    flex: 1;
    align-items: stretch;
    min-height: 0;
}

.main-content {
    flex: 1;
    background-color: var(--light-gray);
    min-height: 100%;
    overflow-y: auto;
}

#sidebar-container {
    display: flex;
    align-items: stretch;
}

/* Responsividade */
@media (max-width: 768px) {
    .layout-wrapper {
        flex-direction: column;
    }
}
